<header class="flex justify-between items-center bg-black text-white p-4">
    <p class="text-4xl">Chaussures</p>
    <nav>
        <ul class="flex gap-4 text-xl">
            <li><a href="#">Femme</a></li>
            <li><a href="#">Homme</a></li>
            <li><a href="#">Enfants</a></li>
        </ul>
    </nav>
</header>