{% extends 'base.html.twig' %}

{% block title %}Chaussures{% endblock %}

{% block body %}
    <main>
        <section class="xl:w-[1280px] mx-auto my-7 flex flex-wrap justify-between">
        {% for shoe in shoes %}
            <article class="rounded-xl overflow-hidden bg-white mb-5 shadow-md">
                <a>
                    <figure class="w-[300px]">
                        <img class="h-[250px] w-full object-cover" src="{{ asset(shoe.imageUrl) }}" alt="{{ shoe.title }}">
                        <figcaption class="p-4">{{ shoe.title }}</figcaption>
                    </figure>
                </a>
            </article>
            <p></p>
        {% endfor %}
        </section>
    </main>
{% endblock %}
