@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: ghostwhite;
}

.waist {
    border : 1px solid rgb(113 113 122);
    padding: 8px 24px;
    color: rgb(113 113 122);
    border-radius: 10px;
}

.waist:hover {
    color: #22c55e;
    border-color: #22c55e;
    cursor: pointer;
}

.btn {
    background-color: #22c55e;
    padding: 8px 24px;
    color: white;
    width: 250px;
    border-radius: 10px;
    margin: 5px;
}